aiohttp
aiosignal
APScheduler
asgiref
async-timeout
attrs
autopep8
beautifulsoup4
certifi
cfscrape
charset-normalizer
click
colorama
distlib
Django
django-cors
django-cors-headers
django-environ
django-filter
django-js-asset
djangorestframework
djangorestframework-simplejwt
exponent-server-sdk
filelock
frozenlist
greenlet
gunicorn
httplib2
idna
importlib-metadata
joblib
mailjet-rest
Markdown
markdownify
multidict
mysqlclient
nltk
numpy
oauth2client
pandas
Pillow
platformdirs
pyasn1
pyasn1-modules
pycodestyle
PyJWT
pyparsing
python-dateutil
python-decouple
pytz
pytz-deprecation-shim
regex
requests
requests-toolbelt
rsa
scikit-learn
scipy
six
soupsieve
SQLAlchemy
sqlparse
threadpoolctl
toml
tqdm
tzdata
tzlocal
uplink
uritemplate
urllib3
virtualenv
whitenoise
yarl
zipp
