<body>
    <img src='https://firebasestorage.googleapis.com/v0/b/portfolio-36ef9.appspot.com/o/Frame%202.png?alt=media&token=7c852b52-5a9d-4876-88f8-7cde1745f0b8'
        width="200" height="200" />
    <h1>Welcome to Read News</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque ad minus dolorem iste, molestiae ut molestias
        quisquam dolor tempore, illo suscipit iusto vitae accusantium error asperiores natus adipisci quo provident? Ex
        possimus dignissimos magni minima officia. Ullam tenetur quas maxime voluptatibus quidem eligendi saepe
        deserunt? Pariatur iure quos laboriosam quo.</p>
    <button
        style="font-size: 20px; color: white; padding: 20px 30px; background-color: cadetblue; text-transform: uppercase;">
        Activate your account
    </button>
</body>