{% extends 'layout.html' %}

{% block content %}
<h1>Welcome to ReadNews🎉🎉</h1>
    <p>The amazing app where you can get latest, and current news. We show you news you'd love to read.</p>
    <p>You love politcs? You get politics-related news! you love entertainment? You get entertainment-related news? You love sports? You get sports-related news. You love everything? You get everything😊😊</p>
    <p>We congratulate you on joining us. You'd receive an activation mail really soon so you can start reading awesome news. We can't wait for you to start enjoying a personalized reading experience</p>
    <p></p>
    <p>See you soon😎😎✌</p>

{% endblock content %}